<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:flex="http://www.springframework.org/schema/flex"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/flex http://www.springframework.org/schema/flex/spring-flex-1.0.xsd">

    <!-- Bootstraps and exposes the BlazeDS MessageBroker -->
    <flex:message-broker disable-default-mapping="true">
        <flex:secured />
    </flex:message-broker>

    <!-- remote proxies -->
    <flex:remote-service service-id="remoteBookManager" ref="bookManager"
                         exclude-methods="internalUseStoreBook"/>

    <!-- Non default url handler mapping needed for the property file -->
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <value>
                /config.properties=configPropertyController
                /*=_messageBroker
            </value>
        </property>
    </bean>

    <!-- Dispatches request mapped to a Controller -->
    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>

    <!-- Controllers for property configuration files -->
    <bean id="configPropertyController" class="nl.gridshore.samples.books.web.controller.ConfigPropertyController"/>

    <!-- View resolver used connect the views returned by controllers to view implementation classes -->
    <bean id="defaultViewResolver" class="org.springframework.web.servlet.view.ResourceBundleViewResolver">
        <property name="basename" value="views"/>
        <property name="order" value="1"/>
    </bean>

</beans>