body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 8px;
}

.gwt-Button {}
.gwt-Label {}
.gwt-TextBox {margin-left:20px}
.gwt-TextBox-readonly {}

.gwt-MenuBar { border-left : 5px solid #c3d9ff; border-right : 5px solid #c3d9ff;padding-top:5px;padding-bottom:5px}
.gwt-MenuBar .gwt-MenuItem { border-left: 1px solid #c3d9ff; border-top: 1px solid #c3d9ff;border-bottom: 2px solid #a1b7dd; ; border-right: 2px solid #a1b7dd ; padding-left:10px;}
.gwt-MenuBar .gwt-MenuItem-selected {background-color: #c3d9ff;}

.cbg-RP {
    background-color:#c3d9ff;
}

.rounded_content_panel {
    margin-top: 10px;
}
.content_panel {
    border-left : 5px solid #c3d9ff;
    border-right : 5px solid #c3d9ff;
    padding : 10px;
    height : 380px;
}

.popup_message {
    font-size:large;
    color:white;
    text-decoration:blink;
}