body {
    font-family: serif;
    background-image: url( ../images/raffle.jpg );
    background-repeat: no-repeat;
    background-color: #ccc;
}

th {
    color: #7084aa;
    font-weight: normal;
}

a {
    color: #7084aa;
}

.content {
    border: 5px solid #c3d9ff;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 800px;
}

#maincontentbox {
    background-image: url( ../images/bg_table.png );
    width: 600px;
    top: 100px;
    left: 250px;
    height: 450px;
    position: absolute;
    overflow: auto;
    padding: 10px;
}

#maincontentbox h2 {
    font-size: 18pt;
    color: white;
    padding: 5px;
    text-align: center;
    font-variant: small-caps;
}

#screentitle {
    background-image: url( ../images/bg_table.png );
    font-size: 24pt;
    color: white;
    padding: 5px;
    text-align: center;
    border: 1px solid white;
}

#sidemenubox {
    background-image: url( ../images/bg_table.png );
    width: 220px;
    top: 100px;
    left: 10px;
    position: absolute;
}

#sidemenubox ul {
    list-style-type: none;
}

#sidemenubox a {
    color: white
}

#winner {
    color: gray;
    font-size: xx-large;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    text-decoration: line-through;
}

/* zebra striping cnfiguration */
table.zebra {
    font-family: arial;
    background-color: #CDCDCD;
    margin: 10px 0pt 15px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}

table.zebra thead tr th, table.zebra tfoot tr th {
    background-color: #B1DB87;
    border: 1px solid #FFF;
    font-size: 8pt;
    padding: 4px;
}

table.zebra tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}

table.zebra tbody tr.striped td {
    background-color: #E0F4D7;
}

/* accordion configuration */
ul.ui-accordion-container {
    margin: 0;
    padding: 5px;
    list-style-type: none;
    background-color: transparent
}

ul.ui-accordion-container li {
    position: relative;
    margin: 0;
    margin-bottom: 2px;
    padding: 0;
    background-image: url( ../images/accordion-left.png );
    background-repeat: no-repeat;
}

ul.ui-accordion-container li a.ui-accordion-link {
    display: block;
    padding-left: 5px;
    margin-right: 3px;
    height: 28px;
    background-image: url( ../images/accordion-middle.png );
    color: #000;
    text-decoration: none;
    line-height: 28px;
}

ul.ui-accordion-container li div.ui-accordion-right {
    background-image: url( ../images/accordion-right.png );
    position: absolute;
    top: 0px;
    right: 0px;
    height: 28px;
    width: 3px;
}

ul.ui-accordion-container li:hover {
    background-image: url( ../images/accordion-left-over.png );
}

ul.ui-accordion-container li:hover a.ui-accordion-link {
    background-image: url( ../images/accordion-middle-over.png );
}

ul.ui-accordion-container li:hover div.ui-accordion-right {
    background-image: url( ../images/accordion-right-over.png );
}

ul.ui-accordion-container li.active {
    background-image: url( ../images/accordion-left-act.png );
}

ul.ui-accordion-container li.active a.ui-accordion-link {
    background-image: url( ../images/accordion-middle-act.png );
}

ul.ui-accordion-container li.active div.ui-accordion-right {
    background-image: url( ../images/accordion-right-act.png );
}

ul.ui-accordion-container li div.ui-accordion-content {
    margin-top: 3px;
    color: white
}
