body {
    font-family: serif;
    background-repeat: no-repeat;
    background-color: #ccc;
}

th {
    color: #7084aa;
    font-weight: normal;
}

a {
    color: #7084aa;
}

.content {
    border: 5px solid #c3d9ff;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 800px;
}

#pager {
    position:relative;
}

#maincontentbox {
    width: 550px;
    top: 100px;
    left: 25px;
    height: 400px;
    position: absolute;
    overflow-x : auto;
    overflow-y : auto;
    padding: 10px;
    border : 1px solid #FFF;
}

#maincontentbox h2 {
    font-size: 18pt;
    color: white;
    padding: 5px;
    text-align: center;
    font-variant: small-caps;
}

#screentitle {
    font-size: 24pt;
    color: white;
    padding: 5px;
    text-align: center;
    border: 1px solid white;
    margin-bottom: 5px;
}

#detailscontentbox {
    position:absolute;
    top: 100px;
    left: 600px;
    width: 400px;
    height: 400px;
    padding: 10px;
    border : 1px solid #FFF;
    overflow-y: auto;
}

#detailscontentbox h2 {
    font-size: 14pt;
    color: white;
    padding: 5px;
    text-align: center;
    font-variant: small-caps;
}
 /*zebra striping configuration*/
table.zebra {
    font-family: arial;
    background-color: #CDCDCD;
    margin: 10px 0pt 15px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}

table.zebra thead tr th, table.zebra tfoot tr th {
    background-color: #B1DB87;
    border: 1px solid #FFF;
    font-size: 8pt;
    padding: 4px;
}

table.zebra tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}

table.zebra tbody tr.striped td {
    background-color: #E0F4D7;
}

/* This file skins tableSorter */

table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #B1DB87;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#E0F4D7;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #83C948;
}
