<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <bean id="paymentManager" class="nl.gridshore.paymentsample.business.impl.PaymentManagerImpl">
        <!--suppress SpringModelInspection -->
        <constructor-arg index="0" ref="paymentDao"/>
    </bean>

    <!-- transaction configuration, uses the bean with name transactionManager by default -->
    <tx:advice id="transactionAdvice">
        <tx:attributes>
            <tx:method name="store*" propagation="REQUIRED"/>
            <tx:method name="load*" propagation="REQUIRED" read-only="true"/>
            <tx:method name="list*" propagation="REQUIRED" read-only="true"/>
            <tx:method name="*" propagation="SUPPORTS" read-only="true"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="paymentBusinessMethods" expression="execution(* nl.gridshore.paymentsample.business.*.*(..))"/>
        <aop:advisor advice-ref="transactionAdvice" pointcut-ref="paymentBusinessMethods"/>
        <aop:aspect id="loggingAspect" ref="loggingMethodEntry">
            <aop:before method="doLogMethodEntry" pointcut-ref="paymentBusinessMethods"/>    
        </aop:aspect>
        <aop:aspect id="loggingTrowableAspect" ref="loggingThrowables">
            <aop:after-throwing method="doLogThrowable" pointcut-ref="paymentBusinessMethods" arg-names="runtimeException"/>
        </aop:aspect>
    </aop:config>

    <bean id="loggingMethodEntry" class="nl.gridshore.paymentsample.business.impl.LoggingMethodEntry"/>
    <bean id="loggingThrowables" class="nl.gridshore.paymentsample.business.impl.LoggingThrowable"/>
</beans>